<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cameron IP - Web App</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <header class="navbar">
    <div class="logo">
  <img src="../static/images/cameron-logo.png" alt="Cameron IP Logo">
</div>
    <nav>
      <a href="dashboard.html">Dashboard</a>
      <a href="mailchimp.html">Mailchimp</a>
      <a href="sharepoint.html">SharePoint</a>
      <a href="excel_upload.html">Excel Tools</a>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
